.mm-footer-main {
  background-color: #363636;
  color: #fff;
  padding: 15px;
  height: 80px;
  line-height: 4;
  margin-top: 15px;
}

.mm-footer-main .fsection {
  margin-left: 10px;
  margin-right: 10px;
}

.mm-footer-main .v-divider {
  border-right: 1px solid #fff;
  line-height: 10px;
}

.mm-footer-end {
  margin: 30px;
}

.mm-footer-end .fsection {
  margin-left: 10px;
  margin-right: 10px;
}

.mm-footer-end small {
  font-size: 10px;
}
