.nav.mm-nav-steps {
  margin-top: 15px;
}

.nav-pills > li.active.mm-nav-step > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #009688;
}

.nav-pills > li.active:not(:last-child) > a:after {
  border-left: 20px solid #009688;
}

.nav > li.disabled > a {
  color: #777;
  background-color: #eee;
  font-weight: bold;
  margin-right: 2px;
}

.nav-pills > li > a {
  border-radius: 0px;
}

.nav-pills > li:not(:first-child) > a {
  padding-left: 0px;
}
.nav-pills > li:not(:first-child) > a:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.nav-pills > li:not(:last-child) > a {
  margin-right: 6px;
}
.nav-pills > li:not(:last-child) > a:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #eeeeee;
  position: absolute;
  content: "";
  top: 0;
  right: -18px;
  z-index: 2;
}
.nav-pills > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-pills > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
  .nav-pills > li > a {
    border-radius: 0px;
    margin-right: 0;
  }
  .nav-pills > li > a:before,
  .nav-pills > li > a:after {
    border: none !important;
  }
}
