body.ui {
  background-color: #253037;
  color: #fff;
}

.App {
  background-color: #253037;
  margin-top: 61px;
}

.App .appheading {
  padding: 10px;
}

.App .main-new-ui {
  background-color: #253037;
  color: #fff;
}

.main-new-ui .container.new-ui {
  background-color: #fff;
  min-height: 800px;
  color: #253037;
}

.App .form-control {
  border-radius: 0px;
}

.center {
  margin: 0px auto;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.no-left-pad {
  padding-left: 0px !important;
}

.no-right-pad {
  padding-right: 0px !important;
}

.btn.btn-default.mm-btn-default {
  background-image: none;
  border-radius: 0px;
}

.btn.btn-primary.mm-btn-primary {
  background-image: none;
  background-color: #F07A90;
  color: #fff;
  border-radius: 0px;
  border-color: #F07A90;
}

.white {
  color: #fff;
}
